@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Black.eot');
    src: url('../fonts/roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/Roboto-Black.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Black.woff') format('woff'),
        url('../fonts/roboto/Roboto-Black.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-Black.svg#Roboto-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
body{
    font-family: 'Roboto';
}

